@tailwind base;
@tailwind components;
@tailwind utilities;

.root,
#root,
#docs-root {
  --primary-color: #1976d2;
  --secondary-color: #1565c0;
}
* {
  scroll-behavior: smooth;
}
.slick-prev,
.slick-next {
  z-index: 1;
}

.slick-prev::before,
.slick-next::before {
  display: none; /* Ẩn mũi tên mặc định của slick */
}

.slick-prev {
  left: 10px !important; /* Điều chỉnh vị trí nút Prev */
}

.slick-next {
  right: 10px !important; /* Điều chỉnh vị trí nút Next */
}
.product-hover:hover {
  @apply -translate-y-1 transition-transform duration-300 ease-in-out;
  box-shadow:
    rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
